---

interface Props {
    pages?: {
        url: string,
        name: string
    }[]
    personalInfo?: {
        email: string
        phone: string
        location: string
    }
    languages?: {
        name: string,
        rating: number // Max of 4
    }[]
    skills?: string[]
    aboutMe?: string
}

const {
    pages = [
        {
            url: "/",
            name: "Home",
        },
        {
            url: "/projects",
            name: "Projects",
        },
        {
            url: "/cv",
            name: "CV",
        }
    ],
    personalInfo,
    languages,
    skills,
    aboutMe
} = Astro.props

const pathname = Astro.url.pathname;

---

<div class="menu grow shrink menu-md overflow-y-auto w-full">
    <ul class="space-y-2">
        {
            pages.map(({ name, url }) => (
                <li>
                    <a
                        class:list={[
                            "pl-4 py-3",
                            {
                                "bg-base-300":
                                    url === "/"
                                        ? pathname === url
                                        : pathname.startsWith(url),
                            },
                        ]}
                        href={url}
                    >
                        {name}
                    </a>
                </li>
            ))
        }
    </ul>

                                                                                                                                                
    <div class="pt-8 space-y-8 pl-4">
        {personalInfo && (
            <div class="space-y-2">
            <h2 class="font-semibold">Personal Information</h2>
            <div>
                <a
                    href={`mailto:${personalInfo.email}`}
                    title={personalInfo.email}
                    class="link hover:font-semibold hover:text-base-content transition-colors"
                >
                    <!-- Mail icon -->
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        aria-hidden="true"
                        class="inline align-middle mr-1.5"
                    >
                        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"
                        ></path>
                    </svg>
                    {personalInfo.email}
                </a>
            </div>

            <div>
                <a>
                    <!-- Phone icon -->
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        aria-hidden="true"
                        class="inline align-middle mr-1.5"
                    >
                        <path
                            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                        ></path>
                    </svg>
                    {personalInfo.phone}
                </a>
            </div>

            <div>
                <a>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        width="14"
                        height="14"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        class="inline align-middle mr-1.5"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                        ></path>
                    </svg>
                    {personalInfo.location}
                </a>
            </div>
        </div>
        )} 

        {languages && (
            <div class="space-y-2">
                <h2 class="font-semibold">Languages</h2>
                {languages.map((language) => (
                    <div class="flex justify-between">
                        {language.name}
                        <div class="rating gap-1 items-center">
                            {[1, 2, 3, 4].map((star) => (
                                <div
                                    class="mask mask-circle size-3.5"
                                    aria-label={`${star} circle`}
                                    aria-current={star === language.rating ? "true" : undefined}
                                >
                                </div>
                            ))}
                        </div>
                    </div>
                ))}
            </div>
        )}                                                                         
        
        {skills && (
            <div class="space-y-2">
                <h2 class="font-semibold">Skills</h2>
                <div class="space-x-1 space-y-1">
                    {
                        skills.map((skill) => (
                        <div class="badge hover:badge-accent transition-colors">
                            {skill}
                        </div>
                        ))
                    }
                </div>
            </div>
        )}
        
        {aboutMe && (
            <div class="space-y-2">
                <h2 class="font-semibold">About me</h2>
                <p>
                    {aboutMe}
                </p>
            </div>
        )}
    </div>
</div>
