---
import type { Role } from "@data/cvs/schema";

export type Props = Role;

const { title, year, description, duration, location } = Astro.props;
---

<h4 class="font-semibold text-balance">
  {title} - {location}
</h4>
<span class="font-light text-sm text-balance">
  {year} • {duration}
</span>
<div class="text-pretty">{description}</div>
